.yellow-btn {
  background-color: #FFA500;
  border: none;
  color: white;
  height: 45px;
  width: 180px;
  font-size: 16px;
  padding: 6px 6px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  margin-left: 15px;
}

.yellow-btn:hover {
  background-color: #e69500;
}

.nav-link {
  text-decoration: none;
  color: #02509f;

  margin: 0 10px;
  padding: 8px 12px;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-link:hover {
  color:  rgba(8, 0, 255, 0.93);
  border-bottom: 2px solid  #02509f;;
}


  .responsive-button {
    background-color: #008CFF;
    color: white;
    margin-left: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    flex-wrap: wrap;
    text-align: center;
    width:150px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
    height: 100px;
  }

  /* Mobile-specific adjustments */
  @media (max-width: 600px) {
    .responsive-button {
      padding-top: 3px;
      width:80px;
      height: 62px;
      font-size: 9px;
    }
  }



